<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta name="viewport" content"width=device-width, initial-scale=1, user-scalable=no">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.0/semantic.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>

  <header>
    <div class="ui fixed menu">
      <a href="/index" class="header item">
        <img class="logo" src="/img/sartorius.jpg">
      </a>
      <a href="/index" class="item">New Upload</a>
      <div class="right menu">
        {{#if currentUser}}
          <a class="item" href="/logout">Log Out</a>
          <a class="item" href="/users/{{currentUser.id}}">View Profile</a>
        {{else}}
          <a class="item" href="/">Log In</a>
          <a class="item" href="/register">Create Account</a>
        {{/if}}
      </div>
    </div>
  </header>

     <!-- Flash Message -->
  <div class="ui text container flash">
    {{#if error}}
      <div class="ui red message"><h2>{{error}}</h2></div>
    {{/if}}
    {{#if success}}
      <div class="ui green message"><h2>{{success}}</h2></div>
    {{/if}}
  </div>

    {{{ body }}}

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/components/accordion.min.js"></script>
  </body>
</html>
